.contactus-background{
    height: 50vh;
    min-height: 50vh;
    background-image: url("https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/get_in_touch_9fd4f5b8b4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1024px) {
  .contactus-background {
    height: 25vh;
    min-height: 25vh;
  }
}

