<section className="bg-white w-full">
  <div className="flex justify-center">
    <div className="grid grid-cols-1 w-full">
      <article className="bg-white h-full flex flex-col">
        <div className="flex flex-col custom-lg:flex-col lg:flex-row justify-center items-center rounded-lg w-full gap-2 lg:gap-4 xl:gap-6 bg-secondary p-6 lg:p-10">
          <div className=" w-20 sm:w-24 lg:w-28 h-20 sm:h-24 lg:h-28 my-2 md:my-4">
            <div className="imgdiv">
              <img
                alt="Software Development"
                src="https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png"
                decoding="async"
                className="imgstyle"
                sizes="100vw"
                srcset="
                  https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png  640w,
                  https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png  750w,
                  https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png  828w,
                  https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png 1080w,
                  https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png 1200w,
                  https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png 1920w,
                  https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png 2048w,
                  https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/software_development_a9ec408a2f.png 3840w
                "
              />
            </div>
          </div>
          <h2 className="text-white text-4xl lg:text-7xl font-bold cursor-default text-center custom-lg:text-center md:text-left lg:text-left">
            Software Development
          </h2>
        </div>
        <section className="flex flex-col flex-auto">
          <section className="py-20 bg-white">
            <h2 className="text-center lg:text-left text-4xl lg:text-7xl font-bold lg:pl-20 pb-4 cursor-default text-primary">
              Java Development
            </h2>
            <h3
              className="text-center lg:text-left text-2xl lg:text-4xl font-bold lg:pl-20 cursor-default text-secondary">
              We love Java because it is...
            </h3>
            <div className="flex justify-center">
              <div
                className="w-full flex items-center mx-10 lg:mx-20 gap-0 xl:gap-20">
                <div
                  className="grid grid-cols-1 lg:grid-cols-3 grid-rows-6 lg:grid-rows-2 pt-20 gap-6 w-full lg:w-auto">
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-1 lg:row-start-1">
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default">
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2">
                        Mature
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Since 1995, Java his being constantly picked up by
                          more and more developers because its’ WORA (Write Once
                          Run Everywhere) concept.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-2 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Versatile
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Java can be used for all kinds of projects starting
                          from small mobile applications to big enterprise
                          applications.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-3 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Widespread
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Over 5 million Java developers across the world use
                          and modernize the language to make sure it can support
                          various development works.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-4 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Polyglot
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          The JVM supports different kinds of languages to make
                          sure developers can choose and apply the most suited
                          solution for their problem. Some examples: Kotlin,
                          Groovy, Scala, JRuby etc.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-5 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Loved by Innovators
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Large number of fortune 500 companies are using Java:
                          Google, Amazon, Netflix, LinkedIn, Intel, Uber,
                          Spotify, and many more.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-6 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Challenges
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Java is a verbose language. It can have performance
                          issues if it is not tweaked properly. Garbage
                          collection control and memory management are ongoing
                          challenges in Java.
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
                <div
                  className="h-0 lg:h-60 w-0 xl:w-3/4 flex justify-center items-center"
                >
                  <div
                    className="CustomImage__ImageWrapper-sc-ij29c8-0 eowpXj h-0 lg:h-full w-0 xl:w-full"
                  >
                    <div
                      style="
                        display: block;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        box-sizing: border-box;
                        margin: 0;
                      "
                    >
                      <noscript
                        ><img
                          alt="Java"
                          srcset="
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png  640w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png  750w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png  828w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png 1080w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png 1200w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png 1920w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png 2048w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png 3840w
                          "
                          src="https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/java_mini_logo_16fe92902d.png"
                          decoding="async"
                          className="imgg" /></noscript
                      ><img
                        alt="Java"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async"
                        style="
                          position: absolute;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          right: 0;
                          box-sizing: border-box;
                          padding: 0;
                          border: none;
                          margin: auto;
                          display: block;
                          width: 0;
                          height: 0;
                          min-width: 100%;
                          max-width: 100%;
                          min-height: 100%;
                          max-height: 100%;
                          object-fit: contain;
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section className="py-20 bg-primary">
            <h2
              className="text-center lg:text-left text-4xl lg:text-7xl font-bold lg:pl-20 pb-4 cursor-default text-secondary"
            >
              GO Development
            </h2>
            <h3
              className="text-center lg:text-left text-2xl lg:text-4xl font-bold lg:pl-20 cursor-default text-white"
            >
              We love GO because it is...
            </h3>
            <div className="flex justify-center">
              <div
                className="w-full flex items-center mx-10 lg:mx-20 gap-0 xl:gap-20 flex-row-reverse"
              >
                <div
                  className="grid grid-cols-1 lg:grid-cols-3 grid-rows-6 lg:grid-rows-2 pt-20 gap-6 w-full lg:w-auto"
                >
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-1 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Simplicity
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Go emphasizes a simple and easy-to-learn syntax and
                          design.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-2 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Concurrency
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Go supports lightweight concurrent execution through
                          goroutines and channels.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-3 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Efficiency
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Go prioritizes execution speed and memory usage
                          optimization.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-4 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Strong typing and static compilation
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Go enforces static typing and compiles to standalone
                          executables.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-5 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Standard library
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Go provides a comprehensive library, reducing reliance
                          on external dependencies.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-6 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Robust error handling
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Go emphasizes explicit error handling for more
                          reliable code.
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
                <div
                  className="h-0 lg:h-60 w-0 xl:w-3/4 flex justify-center items-center"
                >
                  <div
                    className="CustomImage__ImageWrapper-sc-ij29c8-0 eowpXj h-0 lg:h-full w-0 xl:w-full"
                  >
                    <div
                      style="
                        display: block;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        box-sizing: border-box;
                        margin: 0;
                      "
                    >
                      <noscript
                        ><img
                          alt="GO"
                          srcset="
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png  640w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png  750w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png  828w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png 1080w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png 1200w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png 1920w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png 2048w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png 3840w
                          "
                          src="https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/golang_logo_cf5f7506f5.png"
                          decoding="async"
                          className="imgg" /></noscript
                      ><img
                        alt="GO"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async"
                        style="
                          position: absolute;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          right: 0;
                          box-sizing: border-box;
                          padding: 0;
                          border: none;
                          margin: auto;
                          display: block;
                          width: 0;
                          height: 0;
                          min-width: 100%;
                          max-width: 100%;
                          min-height: 100%;
                          max-height: 100%;
                          object-fit: contain;
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section className="py-20 bg-white">
            <h2
              className="text-center lg:text-left text-4xl lg:text-7xl font-bold lg:pl-20 pb-4 cursor-default text-primary"
            >
              PHP Development
            </h2>
            <h3
              className="text-center lg:text-left text-2xl lg:text-4xl font-bold lg:pl-20 cursor-default text-secondary"
            >
              We love PHP because it is...
            </h3>
            <div className="flex justify-center">
              <div
                className="w-full flex items-center mx-10 lg:mx-20 gap-0 xl:gap-20"
              >
                <div
                  className="grid grid-cols-1 lg:grid-cols-3 grid-rows-6 lg:grid-rows-2 pt-20 gap-6 w-full lg:w-auto"
                >
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-1 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Easy and Simple to Learn
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Along with PHP syntax being logical and
                          well-organized, the command functions are easy to
                          understand, as they tell the developer what function
                          they perform.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-2 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Extremely Flexible
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          The ability to make changes even after starting the
                          project saves valuable time. A developer does not have
                          to write fresh codes or command functions, as changes
                          to the existing codes and functions can be done and
                          used.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-3 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Easy Integration
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          PHP is compatible with a large majority of operating
                          systems. As it can be integrated without effort with
                          other technologies, such as Java, existing software
                          does not require re-development. This saves time and
                          money.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-4 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Efficient Performance
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          It is scalable when used for writing codes or creating
                          a large number of applications. It is the programming
                          language of choice when a website has several web
                          pages.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-5 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Cost-Efficient
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          PHP is an open-source web language, hence is
                          completely free. There is no expense involved in
                          purchasing expensive licenses or software. It can work
                          efficiently with different databases, such as MySQL,
                          Apache, and PostgreSQL.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-6 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Challenges
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          While PHP may be a powerful tool supported by an
                          outsized community and plentiful reference
                          documentation, there are easier programming languages
                          for web apps.
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
                <div
                  className="h-0 lg:h-60 w-0 xl:w-3/4 flex justify-center items-center"
                >
                  <div
                    className="CustomImage__ImageWrapper-sc-ij29c8-0 eowpXj h-0 lg:h-full w-0 xl:w-full"
                  >
                    <div
                      style="
                        display: block;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        box-sizing: border-box;
                        margin: 0;
                      "
                    >
                      <noscript
                        ><img
                          alt="PHP"
                          srcset="
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png  640w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png  750w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png  828w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png 1080w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png 1200w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png 1920w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png 2048w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png 3840w
                          "
                          src="https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/php_logo_7fa9bfd4b7.png"
                          decoding="async"
                          className="imgg" /></noscript
                      ><img
                        alt="PHP"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async"
                        style="
                          position: absolute;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          right: 0;
                          box-sizing: border-box;
                          padding: 0;
                          border: none;
                          margin: auto;
                          display: block;
                          width: 0;
                          height: 0;
                          min-width: 100%;
                          max-width: 100%;
                          min-height: 100%;
                          max-height: 100%;
                          object-fit: contain;
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section className="py-20 bg-primary">
            <h2
              className="text-center lg:text-left text-4xl lg:text-7xl font-bold lg:pl-20 pb-4 cursor-default text-secondary"
            >
              React Development
            </h2>
            <h3
              className="text-center lg:text-left text-2xl lg:text-4xl font-bold lg:pl-20 cursor-default text-white"
            >
              We love React because it is...
            </h3>
            <div className="flex justify-center">
              <div
                className="w-full flex items-center mx-10 lg:mx-20 gap-0 xl:gap-20 flex-row-reverse"
              >
                <div
                  className="grid grid-cols-1 lg:grid-cols-3 grid-rows-6 lg:grid-rows-2 pt-20 gap-6 w-full lg:w-auto"
                >
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-1 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Future-proof for developers
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Constantly evolving, living library created by
                          Facebook with fantastic, active community. Always
                          better, brings solutions to new problems by every new
                          versions.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-2 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Simple
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          We didn’t say it is easy but it is much simpler than
                          other tools, and that's what could hook us. Simple
                          concepts, great realisations to build fast and
                          reliable applications.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-3 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Building blocks
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          There is only one rule: write the component once, use
                          twice or three times or as many times as you need.
                          Ensures well-tested, cost-efficient apps in reduced
                          time.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-4 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Scalable
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          It is perfect for from a level of a side-project to a
                          complexity of solving problems at Paypal. Gives
                          solutions for performant apps, SEO-friendly sites used
                          by SSG or SSR.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-5 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Preferred by big companies
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Not just us but many of companies are using React like
                          Facebook, Netflix, Atlassian, Paypal, Tesla, Airbnb
                          etc.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-6 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Challenges
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Easy to start but hard to master. It is hard to find
                          the right tool for the right project. In wrong hands a
                          React app can be big and greedy for memory.
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
                <div
                  className="h-0 lg:h-60 w-0 xl:w-3/4 flex justify-center items-center"
                >
                  <div
                    className="CustomImage__ImageWrapper-sc-ij29c8-0 eowpXj h-0 lg:h-full w-0 xl:w-full"
                  >
                    <div
                      style="
                        display: block;
                        overflow: hidden;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        box-sizing: border-box;
                        margin: 0;
                      "
                    >
                      <noscript
                        ><img
                          alt="React"
                          srcset="
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png  640w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png  750w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png  828w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png 1080w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png 1200w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png 1920w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png 2048w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png 3840w
                          "
                          src="https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/react_logo_74bc5e894e.png"
                          decoding="async"
                          className="imgg" /></noscript
                      ><img
                        alt="React"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async"
                        style="
                          position: absolute;
                          top: 0;
                          left: 0;
                          bottom: 0;
                          right: 0;
                          box-sizing: border-box;
                          padding: 0;
                          border: none;
                          margin: auto;
                          display: block;
                          width: 0;
                          height: 0;
                          min-width: 100%;
                          max-width: 100%;
                          min-height: 100%;
                          max-height: 100%;
                          object-fit: contain;
                        "
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
      </article>
      <article className="bg-white h-full flex flex-col">
        <div
          className="flex flex-col custom-lg:flex-col lg:flex-row justify-center items-center rounded-lg w-full gap-2 lg:gap-4 xl:gap-6 bg-secondary p-6 lg:p-10"
        >
          <div
            className="CustomImage__ImageWrapper-sc-ij29c8-0 eowpXj ServiceItem__Img-sc-bj27j4-0 aOhxk w-20 sm:w-24 lg:w-28 h-20 sm:h-24 lg:h-28 my-2 md:my-4"
          >
            <div className="imgdiv">
              <noscript
                ><img
                  alt="Cloud  Services"
                  srcset="
                    https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png  640w,
                    https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png  750w,
                    https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png  828w,
                    https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png 1080w,
                    https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png 1200w,
                    https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png 1920w,
                    https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png 2048w,
                    https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png 3840w
                  "
                  src="https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/cloud_services_9c67277504.png"
                  decoding="async"
                  className="imgstyle" /></noscript
              ><img
                alt="Cloud  Services"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                decoding="async"
                className="imgg"
              />
            </div>
          </div>
          <h2
            className="text-white text-4xl lg:text-7xl font-bold cursor-default text-center custom-lg:text-center md:text-left lg:text-left"
          >
            Cloud Services
          </h2>
        </div>
        <section className="flex flex-col flex-auto">
          <section className="py-20 bg-white">
            <h2
              className="text-center lg:text-left text-4xl lg:text-7xl font-bold lg:pl-20 pb-4 cursor-default text-primary"
            >
              AWS Development
            </h2>
            <h3
              className="text-center lg:text-left text-2xl lg:text-4xl font-bold lg:pl-20 cursor-default text-secondary"
            >
              We love AWS because it is...
            </h3>
            <div className="flex justify-center">
              <div
                className="w-full flex items-center mx-10 lg:mx-20 gap-0 xl:gap-20"
              >
                <div
                  className="grid grid-cols-1 lg:grid-cols-3 grid-rows-6 lg:grid-rows-2 pt-20 gap-6 w-full lg:w-auto"
                >
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-1 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Economical
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Each year AWS is growing in the number of users and
                          services.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-2 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Services
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          AWS provides around 300 services from networking
                          through compute, machine learning to IoT and further.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-3 lg:row-start-1"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Gartner Leader
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Along with being one of the most trusted cloud
                          providers, AWS is now the leading cloud provider on
                          the market.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-1 row-start-4 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Customer Obsession
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          AWS listens to the customers and through their
                          feedback they introduce innovations which are actually
                          requested for leading their product line in the
                          direction of high usability.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-2 row-start-5 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Ease of Use
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Customers can easily use services which would be hard
                          or expensive to use outside of the cloud. Managed
                          services take most of the burden of setup and
                          maintenance from the customer side and let them focus
                          on the product instead.
                        </p>
                      </div>
                    </article>
                  </div>
                  <div
                    className="lg:col-span-1 lg:row-span-1 lg:col-start-3 row-start-6 lg:row-start-2"
                  >
                    <article
                      className="h-full rounded-lg shadow-lg p-6 bg-white cursor-default"
                    >
                      <h2
                        className="text-2xl text-center text-primary font-semibold pb-10 pt-2"
                      >
                        Challenges
                      </h2>
                      <div
                        className="cards"
                      >
                        <p
                          className="text-secondary text-lg text-justify font-montserrat"
                        >
                          Billing and pricing should be considered. Glitches may
                          occur despite the HA architecture. Managed sevices
                          should be used since they are simple to use and create
                          vendor lock-in.
                        </p>
                      </div>
                    </article>
                  </div>
                </div>
                <div
                  className="h-0 lg:h-60 w-0 xl:w-3/4 flex justify-center items-center"
                >
                  <div
                    className="CustomImage__ImageWrapper-sc-ij29c8-0 eowpXj h-0 lg:h-full w-0 xl:w-full"
                  >
                    <div className="imgdiv">
                      <noscript
                        ><img
                          alt="AWS"
                          srcset="
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png  640w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png  750w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png  828w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png 1080w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png 1200w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png 1920w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png 2048w,
                            https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png 3840w
                          "
                          src="https://tis-tis-io-asset-prd.s3.eu-central-1.amazonaws.com/aws_mini_logo_6e0f59e5d4.png"
                          decoding="async"
                          className="imgstyle" /></noscript
                      ><img
                        alt="AWS"
                        src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
                        decoding="async"
                        className="imgg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>
      </article>
    </div>
  </div>
</section>
