@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    background-color: #fefefe;
    height: 100vh;
    width: 100%;
  }

.opac{
    opacity: 1; transform: none;
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128/var(--tw-text-opacity));
}