@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(247 148 30/var(--tw-bg-opacity));
}
.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(247 148 30/var(--tw-border-opacity));
}